.head{
  text-align: start;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 30px;
  font-weight: 500;
  margin-left: 30px;
}


.course-list {
  display: flex;
  flex-wrap: nowrap;  // Prevent wrapping to the next line
  // overflow-x: auto;   // Add horizontal scrollbar when needed
  padding: 30px 60px;
  padding-right: 40px;
  margin-bottom: 20px;
  gap: 2%;
 
}

.course-card {
  flex: 0 0 250px;    // Set a fixed width for each card
  margin-right: 20px; // Add spacing between cards
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #ccc;
  border-radius: 5px;

  img {
    max-width: 100%;
    border-radius: 5px;
  }

  .course-info {
    padding: 10px;

    h3 {
      font-size: 1.2rem;
      margin: 0;
    }

    p {
      font-size: 0.9rem;
    }

    .course-meta {
      display: flex;
      justify-content: space-between;

      .rating,
      .hours {
        font-size: 0.8rem;
        color: black;
      }
    }
  }
}

@media (max-width: 600px) {
.head{
  
  font-size: 20px;
  font-weight: 700;
  margin-left: -15px;
  overflow-x: hidden;
}
.course-list{
flex-wrap: nowrap;
overflow-x: scroll;
-webkit-overflow-scrolling: touch; /* Add smooth scrolling for iOS */
scroll-snap-type: x mandatory;
scroll-snap-points-x: repeat(100%);
scroll-snap-destination: 100% 0%;
margin-left: -5rem;
}

.course-card {
  // height: 100%; 
  
  .course-info {  
    h3 {
      font-size: 1.3rem;

      width: 23rem;
    
      margin-bottom: 3px;
      

    }

    p {
      font-size: 1rem;
    }

    .course-meta {
      display: flex;
      justify-content: space-between;
      margin-bottom: -10px;
     

      .rating,
      .hours {
        margin-top: 10px;
        // margin-top: auto;
        font-size:1.3rem;
        color: black;
       
      
      }
    }
  }
}

}